@import "../../styles/variables.scss";

.container {
  padding: 0 2em 2em 2em;
}

.header {
  padding: 1em;
  font-family: "Inter", sans-serif;
}

.title {
  font-weight: bold;
  color: $projects-header-title-color;
  text-align: center;
  font-size: 2rem;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.contactInfo {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: bold;
  line-height: 155%;
}

.githubUsername {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.25em;
}

.githubLogo {
  margin-right: 0.25em;
  stroke: white;
}

.infoSecondary {
  color: $contact-info-secondary;
}

.projectList {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin-top: 1.5em;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
    margin-top: 0.6em;
  }

  .projectList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 2.8rem;
  }
}