

// #region HEADER SECTION
$header-background-color: #0B355C;
$header-WEB-color: #e2e2e2;
$header-DEVELOPMENT-color: #2CD196;
$header-DEVELOPMENT-color-darker: #20956c;

/* #region HEADER RESPONSIVE VARAIBLES */

/* MOBILE SMALL: 0px - 320px */
$header-height-mobile-small: 50vh;        
$header-fontsize-mobile-small: 2.6rem;
$header-translateX-mobile-small: -45px;
$header-translateY-mobile-small: 15px;

/* MOBILE MEDIUM: 321px - 375px */
$header-height-mobile-medium: 60vh;
$header-fontsize-mobile-medium: 3.2rem;
$header-translateX-mobile-medium: -50px;
$header-translateY-mobile-medium: 15px;

/* MOBILE LARGE: 376px - 425px */
$header-height-mobile-large: 65vh;
$header-fontsize-mobile-large: 3.4rem;
$header-translateX-mobile-large: -50px;
$header-translateY-mobile-large: 15px;

/* TABLET: 426px - 768px */
$header-height-tablet: 65vh;
$header-fontsize-tablet: 5rem;
$header-translateX-tablet: -80px;
$header-translateY-tablet: 20px;

/* LAPTOP: 769px - 1024px */
$header-height-laptop: 70vh;
$header-fontsize-laptop: 5.5rem;
$header-translateX-laptop: -84px;
$header-translateY-laptop: 26px;

/* LAPTOP-LARGE: 1025px - 1440px */
$header-height-laptop-large: 80vh;
$header-fontsize-laptop-large: 6.4rem;
$header-translateX-laptop-large: -94px;
$header-translateY-laptop-large: 30px;

/* #endregion */
// #endregion

// #region PROJECTS SECTION
$projects-header-title-color: #75828D;    // Header
$contact-info-secondary: #9CA4AC;         // Dev Info
// #endregion

// #region TECH SECTION
$tech-background-color: #0B355C;
$tech-title-color: #37BC8C;
$tech-title-color-lighter: #43DDA5;
$tech-description-color: #97B7D3;
// #endregion